.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 23vw;
    height: 45vh;
    padding: 5%;
    background-color: #89929e;
    border-radius: 15%;
    margin: 0 5em 1em 0;
}

.Card h1 {
    color: rgb(35, 35, 218);
}

.MessageList {
    width: 21vw;
    height: 15vh;
    overflow: auto;
    background-color: white;
}

.Count{
    color: rgb(0, 80, 0);
}